<%- include ('../header') %>
<div class="d-flex flex-column justify-content-center align-items-center w-100 h-100 mt-5 mb-2">
    <h3>Evento</h3>
    <form class="mt-4 w-50" action="/events/<%= event.id %>" method="post">
        <div class="row">
            <label>Nombre</label>
            <input type="text" class="form-control" value="<%= event.nombre %>" name="nombre">
        </div>
        <div class="row">
            <label>Lugar</label>
            <input type="text" class="form-control" value="<%= event.lugar %>" name="lugar">
        </div>
        <div class="row">
            <label>Direccion</label>
            <input type="text" class="form-control" value="<%= event.direccion %>" name="direccion">
        </div>
        <div class="row">
            <label>Fecha Inicio</label>
            <input type="date" min="<%= minDate %>" class="form-control" value="<%= event.fechainicio %>" name="fechainicio">
        </div>
        <div class="row">
            <label>Fecha Fin</label>
            <input type="date" min="<%= minDate %>" class="form-control" value="<%= event.fechafin %>" name="fechafin">
        </div>
        <div class="row">
            <label>Fecha Creación</label>
            <input type="text" class="form-control" placeholder="<%= event.fechacreacion %>" disabled>
        </div>
        <div class="row">
            <label class="radio-inline">
                <input type="radio" name="presencial" value=1 <% if(event.presencial){ %> checked="checked" <% } %>>Presencial
            </label>
            <label class="radio-inline">
                <input type="radio" name="presencial" value=0 <% if(!event.presencial){ %> checked="checked" <% } %>>Virtual
            </label>
        </div>
        <div class="row">
            <label>Categoria</label>
            <select class="form-control" id="exampleFormControlSelect1" name="categoria">
                <% categories.forEach(function(category){ %>
                <option value="<%= category.id %>" <% if(category.id == event.idcategory ){ %> selected <% } %>><%= category.nombre %></option>
                <% }); %>
            </select>
        </div>
        <button type="submit" class="btn btn-success btn-block my-3">Guardar cambios</button>
    </form>
</div>  
<%- include ('../footer') %>