<%- include ('../header') %>
<div class="container mt-5">
  <h1>Eventos</h1>
  <div class="row d-flex justify-content-end mx-5">
    <a class="btn btn-primary" href="/events/new">Crear</a>
    <a class="btn btn-secondary mx-3" href="/logout">Logout</a>
  </div>
  <div class="row w-100">
    <% events.forEach(function(event){ %>
      <div class="card mx-4 my-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= event.nombre %></h5>
          <h6 class="card-subtitle mb-2 text-muted">Fecha Creación: <%= event.fechacreacion %></h6>
          <p class="card-text"><%= event.lugar %></p>
          <a href="/events/delete/<%= event.id %>" class="btn btn-danger mx-2">Eliminar</a>
          <a href="/events/<%= event.id %>" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    <% }); %>
  </div>
</div>  
<%- include ('../footer') %>